<ion-card [routerLink]="['recette', recette.id]">
  <ion-grid class="p-absolute" [fixed]="true">
    <ion-row *ngIf="isCreator(recette.creator.id)">
      <ion-col class="ion-text-start">
        <ion-button (click)="deleteRecette($event, recette.id)"
          ><ion-icon name="trash-sharp" color="danger"></ion-icon
        ></ion-button>
      </ion-col>
      <ion-col class="ion-text-end">
        <ion-button
          (click)="$event.stopPropagation()"
          [routerLink]="['recetteModif', recette.id]"
          ><ion-icon name="construct-sharp" color="dark"></ion-icon></ion-button
      ></ion-col>
    </ion-row>
    <ion-row *ngIf="!isCreator(recette.creator.id) && isConnected()">
      <ion-col class="ion-text-end">
        <ion-button (click)="like($event)"
          ><ion-icon
            name="heart"
            [color]="hasLiked() ? 'danger' : 'dark'"
          ></ion-icon></ion-button
      ></ion-col>
    </ion-row>
  </ion-grid>
  <ion-img alt="" src="{{ recette.image }}" />
  <ion-grid>
    <ion-row>
      <ion-col class="ion-text-start">
        <p id="title">{{ recette.title }}</p>
        <p id="creator">{{ recette.creator.name }}</p>
      </ion-col>
      <ion-col class="ion-text-center align-center">
        <ion-icon name="hourglass-outline"></ion-icon>
        <p>{{ recette.time }} min</p>
      </ion-col>
      <ion-col class="ion-text-end align-right">
        <div>
          <ion-icon
            name="star"
            *ngFor="let num of [].constructor(5); let i = index"
            [ngStyle]="{ color: i < recette.average ? 'gold' : '' }"
          ></ion-icon>
        </div>
        <p>({{ recette.marks.length }} votes)</p>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-card>
