ion-card {
  color: white;
  margin: 0 1vh;
}

ion-card p {
  font-size: medium;
}

ion-card ion-img {
  width: 96vw;
  height: 23.5vh;
  object-fit: cover;
}

#title {
  font-weight: bold;
  font-size: large;
  width: 100px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

p {
  margin: 0;
  text-align: left;
}

ion-button {
  --background: rgba(33, 33, 33, 0.8);
  backdrop-filter: blur(10px);
  border-radius: 15px;
}

.align-center {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.align-right {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.p-absolute {
  position: absolute;
}
